* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-orange: #FCB33B;
  --color-gray: #adadad;
  --font-weight: 500;
}

/* 헤더 영역 */
header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: black;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  z-index: 999;
  opacity: 100%;
}

.active {
  transform: translateY(-100%);
  opacity: 0;
}

.inner {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.headerContainer {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.headerContainer .nav {
  display: flex;
  font-size: 18px;
  gap: 40px;
  color: #eee;
  font-weight: normal;
  cursor: pointer;
}

.headerContainer .utility {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headerContainer .utility span {
  font-size: 20px;
  color: white;
}

/* // 헤더영역 */

/* 메인컨텐츠영역 */
#mainWrapper {
  /* height: 100%; */
  padding-top: 100px;
}

.swiper-wrapper {
  height: 70vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.con1 {
  padding-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.con1 h1 {
  font-size: 40px;
}

.con1 p {
  font-weight: var(--font-weight);
  font-size: 20px;
  color: var(--color-gray);
  padding-top: 12px;
  padding-bottom: 34px;
}

.con1 .tapContainer {
  width: 100%;
}

.con1 .tapContainer .tapMenu {
  display: flex;
  text-decoration: none;
  justify-content: center;
  gap: 100px;
}

.con1 .tapContainer .tapMenu a {
  font-size: 20px;
  padding: 0 20px;
  transition: 0.2s;
  color: black;
}

.tabActive {
  color: var(--color-orange);
}

.tabNomal {
  color: var(--color-black);
}

.con1 .tapContainer .tapMenu a:hover {
  color: var(--color-orange);
}

.con1 .tapContainer .highLightContainer {
  position: relative;
  width: 100%;
  height: 3px;
  background: #f3f3f3;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
}

.section img {
  width: 224px;
  height: 224px;
}

.section h1 {
  font-size: 16px;
  padding: 10px 0;
}

.section h3 {
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: normal;
}

.section h2 {
  font-size: 14px;
}

.section .material-icons {
  width: 18px;
  font-size: 18px;
  cursor: pointer;
}

.section .clicked {
  width: 18px;
  font-size: 18px;
  color: #ED6161;
  cursor: pointer;
}


.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 160px;
}

.btn {
  width: 210px;
  height: 60px;
  background: black;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
}

.btn:hover svg {
  transform: translateX(20%);
}

.btn h1 {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.btn svg {
  transition: 0.3s;
}

.con2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.con2 h1 {
  font-size: 40px;
}

.con2 p {
  font-weight: var(--font-weight);
  font-size: 20px;
  color: var(--color-gray);
  padding-top: 12px;
  padding-bottom: 34px;
}

.journalContainer {
  height: 930px;
  width: 100%;
  display: flex;
  gap: 20px;
}

.journalContainer .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.journalContainer .left .leftTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 660px;
  background: url(img/jouranl-left-1.jpg) center no-repeat;
  background-size: cover;
}


.journalContainer .left .leftTop .textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.journalContainer .left .leftBottom {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  gap: 20px;
}

.journalContainer .left .leftBottom div:first-child {
  background: url(img/jouranl-left-2.jpg) center no-repeat;
  background-size: 120%;
}

.journalContainer .left .leftBottom div:last-child {
  background: url(img/jouranl-left-3.jpg) no-repeat;
  background-size: 100%;
}

.journalContainer .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.journalContainer .rightTop {
  flex: 4;
  display: flex;
  gap: 20px;
}

.journalContainer .rightTop .rightImgArea {
  flex: 5.5;
  background: url(img/jouranl-right-1.jpg) no-repeat center;
  background-size: 110%;
  display: flex;
}

.journalContainer .rightTop .rightTextArea {
  flex-direction: column;
  flex: 5;
  display: flex;
  gap: 20px;
}

.journalContainer .rightTop .rightTextArea div:first-child {
  flex: 5;
}

.journalContainer .rightTop .rightTextArea div:last-child {
  flex: 5;
  background: url(img/jouranl-right-2.jpg) no-repeat center;
  background-size: 100%;
}

.journalContainer .rightBottom {
  flex: 7;
  background: url(img/jouranl-right-3.jpg) no-repeat center;
  background-size: 100%;
}


.con3 {
  width: 100%;
  height: 400px;
  background: #adadad;
}

.con3 .collectionBg {
  background-image: url(img/collection3.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.con4 {
  padding-top: 120px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.con4 h1 {
  font-size: 40px;
}

.con4 p {
  font-size: 20px;
  color: var(--color-gray);
  padding-top: 12px;
  padding-bottom: 34px;
  font-weight: var(--font-weight);
}

.panel_heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0 15px 0;
  position: relative;
  border-top: 1px solid #D9D9D9;
  cursor: pointer;
}

.panel_heading h1 {
  font-size: 24px;
}

.panel_heading span {
  font-size: 22px;
  color: #f47024;
}

.panel_heading img {
  position: absolute;
  right: 40px;
  transition: ease-in-out 0.2s;
}

.panel_body {
  display: none;
  background: #F5F5F5;
  padding: 30px;
}

.panel_body p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 12px;
}

.faq_active .panel_body {
  display: block;
}

.faq_active .panel_heading img {
  transform: rotate(180deg);
}


#footerWrapper{
  margin-top: 120px;
  width: 100%;
  height: 100%;
  background: black;
}

#btnTop {
  position: fixed;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #adadad; */
  border: none;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  background: white;
  cursor: pointer;
  bottom: 5%;
  right: 5%;
}